<div class="admin-wrapper">
  <!--<div class="admin-side-bar" ng-class="{'wide': admin.wideSideBar}"> functionality to manage the sidebar width-->
  <div class="admin-side-bar wide">
    <a ui-sref="admin.sell" ui-sref-active="active" title="Venta">
      <i class="fa fa-usd" aria-hidden="true"></i>
      <span class="text">Venta</span>
    </a>
    <a ui-sref="admin.items" ui-sref-active="active" title="Operaciones">
      <i class="fa fa-usd" aria-hidden="true"></i>
      <span class="text">Administración</span>
    </a>
    <a ui-sref="admin.users" ui-sref-active="active" title="Usuarios">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="text">Usuarios</span>
    </a>
    <a ui-sref="admin.stats" ui-sref-active="active" title="Estadísticas">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      <span class="text">Estadísticas</span>
    </a>
    <a ui-sref="admin.suppliers" ui-sref-active="active" title="Proveedores">
      <i class="fa fa-truck" aria-hidden="true"></i>
      <span class="text">Proveedores</span>
    </a>
    <!--<a href="" ng-click="admin.wideSideBar = !admin.wideSideBar">
      <i ng-show="admin.wideSideBar" class="fa fa-th-large" aria-hidden="true"></i>
      <span ng-show="admin.wideSideBar" class="text">Compacta</span>
      <i ng-hide="admin.wideSideBar" class="fa fa-th-list" aria-hidden="true"></i>
    </a> functionality to manage the sidebar width-->
  </div>
  <!--<div class="admin-dashboard" ng-class="{'wide': admin.wideSideBar}">functionality to manage the sidebar width-->
  <div class="admin-dashboard wide">
    <div ui-view></div>
  </div>
  <!--<p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>-->
</div>
