.trash { color:rgb(209, 91, 71); }
.admin-wrapper {
  margin-top: -20px;

}
.admin-dashboard {
  margin-left: 61px;
  padding-left: 39px;
  padding-top: 20px;
}
.admin-side-bar {
  border-right: 1px solid #e7e7e7;
  box-shadow: 6px 0px 10px -2px #e7e7e7;
  height: 100%;
  position: absolute;
  width: 61px;
  a {
    display: block;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: bottom;
    width: 60px;
  }
  a:hover {
    background-color: #f8f8f8;
    cursor: pointer;
  }
  a.active {
    background-color: #e7e7e7;
  }
}

.user-list {
	li {
		display: flex;
		border: none;
		border-bottom: 1px lightgray solid;
		margin-bottom: 0;
		&:last-child { border-bottom: none; }

		.user-info {
			flex-grow: 1;
		}
		.trash {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
	}
}
