/*.trash { color:rgb(209, 91, 71); }*/
.admin-wrapper {
  padding-left: 0;
  background: $column-bg;
}

.admin-dashboard {
  margin-left: 60px;
  padding-left: 20px;
  padding-top: 20px;
  background: white;
  transition: all 200ms ease;
  min-height: 1600px;
  &.wide {
    margin-left: 160px;
    transition: all 200ms ease;
  }
}

.admin-side-bar {
  background: $column-bg;
  height: 100%;
  position: absolute;
  width: 60px;
  transition: all 0.2s ease;
  a {
    color: $active-presence;
    display: block;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: bottom;
    width: 60px;
    transition: width 200ms ease;

    &:hover {
      background-color: $hover-item;
    }
    &.active {
      color: $active-item-text;
      background: $active-item;
    }

    .text {
      display: none;
      transition: all 200ms ease;
    }

  }
  &.wide {
    width: 160px;
    transition: all 200ms ease;
    a {
      height: 30px;
      line-height: 30px;
      margin: 5px 0;
      padding-left: 10px;
      text-align: left;
      text-decoration: none;
      width: 160px;
      &:hover {
        text-decoration: none;
        .text {
          color: $active-item-text;
        }
      }
      &.active {
        .text {
          color: $active-item-text;
          font-style: normal;
          font-weight: 900;
        }
      }
      i {
        width: 20px;
        text-align: center;
      }
      .text {
        color: $hover-item;
        display: inline;
        font-size: 14px;
        font-style: italic;
        margin-left: 6px;
        transition: all 200ms ease;
      }
    }
  }
}

.user-list {
  li {
    display: flex;
    border: none;
    border-bottom: 1px lightgray solid;
    margin-bottom: 0;
    &:last-child {
      border-bottom: none;
    }

    .user-info {
      flex-grow: 1;
    }
    a:hover {
      cursor: pointer;
    }
    .enabled {
      color: $brand-success;
      &:hover {
        color: $brand-danger;
      }
    }
    .disabled {
      color: $brand-danger;
      &:hover {
        color: $brand-success;
      }
    }
  }
}
