/*.trash { color:rgb(209, 91, 71); }*/
.admin-wrapper {
  padding-left: 0;
  background: $column-bg;
}

.admin-dashboard {
  margin-left: 60px;
  padding-left: 20px;
  padding-top: 20px;
  background: white;
  transition: all 200ms ease;
  min-height: 256px;
  &.wide {
    margin-left: 256px;
    transition: all 200ms ease;
  }
}

.admin-side-bar {
  background: $column-bg;
  height: 100%;
  position: absolute;
  width: 60px;
  transition: all 0.2s ease;
  padding: 20px 24px;
  a {
    color: $active-presence;
    display: block;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: bottom;
    width: 60px;
    transition: width 200ms ease;

    .text {
      display: none;
      transition: all 200ms ease;
    }

  }
  &.wide {
    width: 256px;
    transition: all 200ms ease;
    a {
      height: 32px;
      line-height: 32px;
      margin: 5px 0;
      text-align: left;
      text-decoration: none;
      width: 100%;

      &:hover {
        .text {
          color: $active-item-text;
          text-decoration: underline;
        }
      }

      &.active {
        .text {
          text-decoration: underline;
        }
      }

      i {
        width: 20px;
        text-align: center;
      }

      .text {
        color: $text-color;
        display: inline;
        font-size: 16px;
        margin-left: 12px;
        font-weight: 700;
        transition: all 200ms ease;
      }
    }
  }
}

.user-list {
  li {
    display: flex;
    border: none;
    border-bottom: 1px lightgray solid;
    margin-bottom: 0;
    &:last-child {
      border-bottom: none;
    }

    .user-info {
      flex-grow: 1;
    }
    a:hover {
      cursor: pointer;
    }
    .enabled {
      color: $brand-success;
      &:hover {
        color: $brand-danger;
      }
    }
    .disabled {
      color: $brand-danger;
      &:hover {
        color: $brand-success;
      }
    }
  }
}
