//navbar
$navbar-bg-color: #fff;

//sidebar
//$column-bg: #245b61;
$column-bg: #3C4B5B;
$menu-bg-hover: #245b61;
$active-item: #72d4c0;
$active-item-text: #FFFFFF;
$hover-item: #b0c1c4;
$text-color: #FFFFFF;
$active-presence: #bef200;
$mention-badge: #F15340;

