<div class="input-group">
  <input type="text" class="form-control input-sm" placeholder="Buscar todo">
  <span class="input-group-btn">
    <button class="btn btn-default btn-sm" type="button">Buscar</button>
  </span>
</div>
<table class="table table-condensed table-striped table-hover">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Controles</th>
  </tr>
  <tr>
    <td>Spiderman</td>
    <td>Muñeco spiderman grande</td>
    <td><a href="#">Editar</a></td>
  </tr>
  <tr>
    <td>Ironman</td>
    <td>Rompe cabezas Ironman 50 piezas</td>
    <td><a href="#">Editar</a></td>
  </tr>
  <tr>
    <td>Capitan Philips la odisea del mundo mundial</td>
    <td>Rompe cabezas Ironman 50 piezas</td>
    <td><a href="#">Editar</a></td>
  </tr>
</table>
