<div class="input-group">
  <input type="text" class="form-control input-sm" placeholder="Buscar todo"
         ng-model="$ctrl.strSearch" ng-change="$ctrl.search($ctrl.strSearch)" ng-model-options="{debounce: 1000}">
  <span class="input-group-btn">
    <button class="btn btn-default btn-sm" type="button">Buscar</button>
  </span>
</div>
<span us-spinner ng-show="$ctrl.searchingEvent"></span>
<p ng-hide="$ctrl.itemsFound">No se encontraron Items</p>
<table class="table table-condensed table-striped table-hover" ng-show="$ctrl.itemsFound" style="">
  <tr>
    <th class="col-md-3">Nombre</th>
    <th class="col-md-3">Descripcion</th>
    <th class="col-md-3">Proveedor</th>
    <th class="col-md-3">Controles</th>
  </tr>
  <tr ng-repeat="item in $ctrl.items">
    <td class="col-md-3"><a ui-sref="catalogue({id: item._id})">{{item.name}}</a></td>
    <td class="col-md-3">{{item.tags}}</td>
    <td class="col-md-3">{{item.suppliers}}</td>
    <td class="col-md-3"><a ui-sref="admin.items({id: item._id})">Configurar</a></td>
  </tr>
</table>
