<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="item-gallery">
        <div class="preview" ng-if="$ctrl.photo">
          <h4>gallery</h4>
        </div>

        <div class="preview" ng-if="!$ctrl.photo">
          <h4>no photo</h4>
          <a href="#" class="btn btn-default btn-sm">Agregar</a>
          <img class="img-responsive" src="assets/images/general/imagePlaceholder.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="item-details">
        <a href="#">{{$ctrl.item.brand}}</a>
        <h3>{{$ctrl.item.name}}</h3>
        <a href="#" editable-text="$ctrl.item.name">{{ $ctrl.item.name || "empty" }}</a>
        <hr>
        <span></span>
      </div>
    </div>
  </div>
</div>

<input type="text" ng-model="$ctrl.twoWay">
<p>{{$ctrl.twoWay}}</p>
<input type="text" ng-model="$ctrl.oneWay">
<p>{{$ctrl.oneWay}}</p>


<div class="item-editor">
  <div class="container-fluid">
    <div class="row">
      <div class="left-col">
        <p>item editor</p>
        <span>two way</span>{{$ctrl.twoWayD}} <br>
        <span>one way</span>{{$ctrl.oneWayD}}
        <p>carousel widget</p>
        <gallery two-way="$ctrl.item.name" one-way="$ctrl.oneWayD" editor-mode="false" photo="$ctrl.photo"></gallery>
      </div>
      <div class="main-col">
        <h1 class="item-heading">{{$ctrl.item.name}}</h1>
      </div>
    </div>
  </div>
</div>
<p>{{$ctrl.item}}</p>

<i class="ts_icon {{icon}}" ng-repeat="icon in $ctrl.icons"></i>
