<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="et-panel">
        <div class="et-header">
          <h3 class="et-heading">Producto</h3>

          <div class="et-controls">
            <a href="#" role="button" ng-click="$ctrl.showForm()"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="#" role="button" ng-click="$ctrl.showSearch()"><i class="fa fa-search" aria-hidden="true"></i></a>
            <a href="#" role="button"
               ng-click="$ctrl.showProductForm = false; $ctrl.showProductSearch = false">
              <i class="fa fa-question" aria-hidden="true"></i></a>
          </div>
        </div>

        <div class="et-body">
          <span us-spinner ng-hide="$ctrl.showProductSearch || $ctrl.showProductForm"></span>
          <div class="search-bar" ng-show="$ctrl.showProductSearch">
            <div class="row">
              <div class="col-md-12">
                <smart-search></smart-search>
              </div>
            </div>

          </div>
          <div class="item-form" ng-show="$ctrl.showProductForm" autocomplete="off">
            <form name="form" ng-submit="$ctrl.register(form)" novalidate>

              <div class="row">
                <div class="col-sm-6 form-group" ng-class="{ 'has-success': form.name.$valid && $ctrl.submitted,
                                            'has-error': form.name.$invalid && $ctrl.submitted }">
                  <label for="name">Nombre</label>
                  <input name="name" type="text" class="form-control input-sm" id="name" placeholder="Nombre"
                         ng-model="$ctrl.item.name" required>
                  <p class="help-block" ng-show="form.name.$error.required && $ctrl.submitted">
                    El nombre es requerido
                  </p>
                </div>

                <div class="col-sm-6 form-group" ng-class="{ 'has-success': form.brand.$valid && $ctrl.submitted,
                                            'has-error': form.brand.$invalid && $ctrl.submitted }">
                  <label for="brand">Marca</label>
                  <input type="text" class="form-control input-sm" id="brand" name="brand" placeholder="Marca"
                         uib-typeahead="brand for brand in $ctrl.savedBrands | filter:$viewValue | limitTo:8"
                         ng-model="$ctrl.item.brand" autocomplete="off"
                         required>
                  <p class="help-block" ng-show="form.brand.$error.required && $ctrl.submitted">
                    La marca del producto es requerida
                  </p>
                </div>
              </div>

              <div class="form-group btn-group" data-toggle="buttons">
                <label class="btn btn-female" ng-class="{'active': $ctrl.item.gender.female}">
                  <input type="checkbox" name="gender.female" ng-model="$ctrl.item.gender.female">Femenino
                </label>
                <label class="btn btn-male" ng-class="{'active': $ctrl.item.gender.male}">
                  <input type="checkbox" name="gender.male" ng-model="$ctrl.item.gender.male">Masculino
                </label>
              </div>
              <div class="row">
                <!--TODO FIX AGE VALIDATION-->
                <div class="col-sm-6 col-md-4 form-group btn-group" data-toggle="buttons"
                     ng-class="{'has-success': form.minAge.$valid && $ctrl.form.submitted,
                      'has-error': form.minAge.$invalid && $ctrl.form.submitted}">
                  <label for="minAge">Edad Desde</label>
                  <div class="input-group" id="minAge">
                    <input name="minAge" class="form-control input-sm" placeholder="Dese"
                           min="0" ng-pattern="$ctrl.onlyNum" ng-model="$ctrl.item.age.min"/>
                    <span class="input-group-addon"><input type="checkbox" ng-model="$ctrl.item.age.minMonth"
                                                           style="vertical-align: bottom">Meses</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 form-group btn-group" data-toggle="buttons"
                     ng-class="{'has-success': form.maxAge.$valid && $ctrl.form.submitted,
                      'has-error': form.maxAge.$invalid && $ctrl.form.submitted}">
                  <label for="maxAge">Hasta</label>
                  <div class="input-group" id="maxAge">
                    <input type="number" name="maxAge" class="form-control input-sm" placeholder="Hasta"
                           min="0" ng-pattern="$ctrl.onlyNum" ng-model="$ctrl.item.age.max"/>
                    <span class="input-group-addon"><input type="checkbox" ng-model="$ctrl.item.age.maxMonth"
                                                           style="vertical-align: bottom">Meses</span>
                  </div>
                </div>
                <p class="help-block" ng-show="form.maxAge.$error.mongoose || form.minAge.$error.mongoose">
                  {{ $ctrl.errors }}
                </p>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <p>
                    <a href="#" ng-click="prodcutPresentation = !prodcutPresentation">
                      <span>Presentación del producto</span>
                      <i class="ts_icon" ng-class="{'ts_icon_chevron_medium_up': prodcutPresentation, 'ts_icon_chevron_medium_down': !prodcutPresentation}"></i>
                    </a>
                  </p>
                  <div uib-collapse="!prodcutPresentation">
                    <p><i>Información del producto presentada por el proveedor (Nombre del producto / Código Interno / Cantidad / Paquetes / ...)</i></p>

                    <div class="row">
                      <div class="col-md-12 col-lg-6">
                        <div class="form-group">
                          <label for="ppInternalCode">Código interno</label>
                          <input type="text" name="ppInternalCode" class="form-control input-sm" id="ppInternalCode"
                                 placeholder="Código interno"
                                 ng-model="$ctrl.item.productPresentation.internalCode">
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-6">
                        <div class="form-group">
                          <label for="ppAmountPerPackage">Cantidad por paquete</label>
                          <input type="number" name="ppAmountPerPackage" class="form-control input-sm" id="ppAmountPerPackage"
                                 placeholder="Cantidad de items por paquete"
                                 ng-model="$ctrl.item.productPresentation.amountPerPackage" value="1">
                        </div>
                      </div>
                    </div>
                    <textarea type="text" name="ppDescription" class="form-control input-sm" id="ppDescription"
                              placeholder="Agregar descripcion del proveedor"
                              ng-model="$ctrl.item.productPresentation.description" required></textarea>
                    <hr>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <div class="form-group">
                    <label for="itemBarCode">Código de barras</label>
                    <input type="text" name="itemBarCode" class="form-control input-sm" id="itemBarCode"
                           placeholder="Código de barras asociado"
                           ng-model="$ctrl.item.barCode">
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="form-group">
                    <label for="productNumber">Número de artículo (proveedor)</label>
                    <input type="text" name="productNumber" class="form-control input-sm" id="productNumber"
                           placeholder="Número de artículo"
                           ng-model="$ctrl.item.productNumber">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 form-group" ng-class="{ 'has-success': form['price.cost'].$valid && $ctrl.submitted,
                                            'has-error': form['price.cost'].$invalid && $ctrl.submitted }">
                  <label for="price.cost">Precio de costo</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></div>
                    <input type="number" name="price.cost" class="form-control input-sm"
                           id="price.cost" placeholder="Precio de costo"
                           ng-pattern="$ctrl.minPattern"
                           ng-model="$ctrl.item.price.cost"
                           mongoose-error>
                  </div>
                  <p class="help-block" ng-show="form['price.cost'].$invalid && $ctrl.submitted">
                    Tiene que ser un número mayor o igual a cero.
                  </p>
                  <p class="help-block" ng-show="form['price.cost'].$error.mongoose">
                    {{ $ctrl.errors }}
                  </p>
                </div>

                <div class="col-sm-6 form-group" ng-class="{ 'has-success': form['price.list'].$valid && $ctrl.submitted,
                                            'has-error': form['price.list'].$invalid && $ctrl.submitted }">
                  <label for="price.list">Precio de lista</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></div>
                    <input type="number" name="price.list" class="form-control input-sm"
                           id="price.list" placeholder="Precio de lista"
                           ng-pattern="$ctrl.minPattern"
                           ng-model="$ctrl.item.price.list"
                           mongoose-error>
                  </div>
                  <p class="help-block" ng-show="form['price.list'].$invalid && $ctrl.submitted">
                    Tiene que ser un número mayor o igual a cero.
                  </p>
                  <p class="help-block" ng-show="form['price.list'].$error.mongoose">
                    {{ $ctrl.errors }}
                  </p>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-success': form.suppliers.$valid && $ctrl.submitted,
                                            'has-error': form.suppliers.$invalid && $ctrl.submitted }">
                <label for="suppliers">Proveedores</label>
                <tags-input id="suppliers" name="suppliers" ng-model="$ctrl.item.suppliers"
                            display-property="name"
                            min-length="1"
                            add-from-autocomplete-only="true"
                            placeholder="Agrega uno o mas proveedores" required mongoose-error>
                  <auto-complete source="$ctrl.availableSuppliers"></auto-complete>
                </tags-input>
                <p class="help-block"
                   ng-show="form.suppliers.$error.required && $ctrl.submitted">
                  Al menos un proveedor es requerido y tiene que ser tomado de la lista.
                </p>
                <p class="help-block"
                   ng-show="form.suppliers.$error.mongoose && $ctrl.submitted">
                  mongoose {{ $ctrl.errors }}
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.tags.$valid && $ctrl.submitted,
                                            'has-error': form.tags.$invalid && $ctrl.submitted }">
                <label for="tags">Etiquetas</label>
                <tags-input id="tags" name="tags"
                            ng-model="$ctrl.item.tags"
                            min-tags="3"
                            placeholder="Agregá tags: categorías, descripciones, etc..." required></tags-input>
                <p class="help-block" ng-show="form.tags.$error.required && $ctrl.submitted">
                  Las Etiquetas son importantes! :P
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.description.$valid && $ctrl.submitted,
                                            'has-error': form.description.$invalid && $ctrl.submitted }">
                <label for="description">Descripción</label>
                <textarea type="text" name="description" class="form-control input-sm" id="description"
                          placeholder="Agregar descripcion textual del item"
                          ng-model="$ctrl.item.description" required></textarea>
                <p class="help-block" ng-show="form.description.$error.required && $ctrl.submitted">
                  Agregá una descripción del producto, se creativo ;)
                </p>
              </div>
              <button type="submit" class="btn btn-success">Crear</button>
              <button type="button" class="btn btn-danger" ng-click="$ctrl.reset()">Borrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="et-panel">
        <div class="et-header">
          <h3 class="et-heading">Stock</h3>

          <div class="et-controls">
            <a href="#" role="button" ng-click="$ctrl.showForm()"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="#" role="button" ng-click="$ctrl.showSearch()"><i class="fa fa-search" aria-hidden="true"></i></a>
            <a href="#" role="button" ng-click="$ctrl.showProductForm = false; $ctrl.showProductSearch = false"><i class="fa fa-question" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="et-body">

        </div>
      </div>
    </div>
  </div>
</div>
