<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="items">
        <h3>Producto</h3>
        <div class="controls">
          <a class="btn btn-sm btn-default" href="#" role="button" ng-click="adminItems.showForm()">Crear</a>
          <a class="btn btn-sm btn-default" href="#" role="button" ng-click="showSearch = !showSearch">Buscar</a>
        </div>
        <!--TODO fix this shit, add validator, dirties, etc..-->
        <div class="item-form" ng-show="adminItems.showProductForm">
          <form name="form" ng-submit="adminItems.register(form)" novalidate>
            <div class="form-group">
              <label for="itemName">Nombre</label>
              <input type="text" class="form-control input-sm" id="itemName" placeholder="Nombre"
                     ng-model="adminItems.item.name">
            </div>

            <div class="form-group">
              <label for="itemBrand">Marca</label>
              <input type="text" class="form-control input-sm" id="itemBrand" placeholder="Marca"
                     ng-model="adminItems.item.brand">
            </div>

            <div class="form-group btn-group" data-toggle="buttons">
              <label class="btn btn-female" ng-class="{'active': adminItems.item.gender.female}">
                <input type="checkbox" ng-model="adminItems.item.gender.female">Femenino
              </label>
              <label class="btn btn-male" ng-class="{'active': adminItems.item.gender.male}">
                <input type="checkbox" ng-model="adminItems.item.gender.male">Masculino
              </label>
            </div>

            <div class="form-group btn-group" data-toggle="buttons">
              <label for="itemAge">Edad</label>
              <div class="input-group"  id="itemAge">
                <input type="number" class="form-control input-sm" placeholder="Edad"
                       ng-model="adminItems.item.age"/>
                <span class="input-group-addon"><input type="checkbox" style="vertical-align: bottom">Meses</span>
              </div>
            </div>

            <div class="form-group">
              <label for="itemBrand">Código de barras</label>
              <input type="text" class="form-control input-sm" id="itemBarCode" placeholder="Código de barras asociado"
                     ng-model="adminItems.item.barCode">
            </div>

            <div class="form-group">
              <label for="itemCostPrice">Precio de costo</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control input-sm" id="itemCostPrice" placeholder="Precio de costo"
                       ng-model="adminItems.item.price.cost">
              </div>
            </div>

            <div class="form-group">
              <label for="itemListPrice">Precio de lista</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control input-sm" id="itemListPrice" placeholder="Precio de lista"
                       ng-model="adminItems.item.price.list">
              </div>
            </div>
            <!--<div class="form-group">
              <label for="itemDepot">Stock (Depósito)</label>
              <input type="text" class="form-control input-sm" id="itemDepot" placeholder="Depósito">
            </div>
            <div class="form-group">
              <label for="itemLocal">Stock (Local)</label>
              <input type="text" class="form-control input-sm" id="itemLocal" placeholder="Local">
            </div>
            <div class="form-group">
              <label for="itemStock">Stock (Total)</label>
              <input type="text" class="form-control input-sm" id="itemStock" placeholder="Stock">
            </div>
            <div class="form-group">
              <label for="itemSuppliers">Proveedor</label>
              <tags-input id="itemSuppliers" ng-model="adminItems.itemSuppliers"
                          display-property="name"
                          min-length="1"
                          placeholder="Agrega uno o mas proveedores">
                <auto-complete source="adminItems.suppliersTagsText"></auto-complete>
              </tags-input>
            </div>-->
            <div class="form-group">
              <label>Tags Inteligentes</label>
              <tags-input ng-model="adminItems.item.tags"
                          placeholder="Agregá tags: categorías, descripciones, etc..."></tags-input>
            </div>

            <div class="form-group">
              <label for="itemDescription">Descripción</label>
              <textarea type="text" class="form-control input-sm" id="itemDescription"
                        placeholder="Agregar descripcion textual del item"
                        ng-model="adminItems.item.description"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Crear</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="purchases">
        <h3>Comprar</h3>
        <a class="btn btn-default" href="#" role="button"
           ng-click="show_purchase_form = !show_purchase_form">Nuevo</a>
        <a class="btn btn-default" href="#" role="button">Buscar</a>
        <div class="purchase-form" ng-show="show_purchase_form">
          <form action="">
            <div class="form-group">
              <label for="purchaseName">Nombre</label>
              <input type="text" class="form-control input-sm" id="purchaseName" placeholder="Nombre">
            </div>
            <div class="form-group">
              <label for="purchaseSupplier">Proveedor</label>
              <input type="text" class="form-control input-sm" id="purchaseSupplier" placeholder="Proveedor">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Locales</h3>
    </div>
  </div>
</div>
